.container {
    * {
        padding: 0;
        margin: 0;
    }

    background-color: hsl(111, 79%, 42%);
    font-family: 'Piazzolla',
    serif;
    weight: 300;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 100px 50px 30px;
    height: 500px;

    max-width: 800px;
    margin: auto;
    // padding: 16px;

    div {
        background-color: white;
        border-radius: 10px;
        border: 2px white solid;

        &.yellow {
            background-color: yellow;
            grid-column: 2 /4;
            grid-row: 1 / 3
        }

        &.blue {
            background-color: blue
        }

        // &.title {
        //     background-color: purple;
        //     padding: 10px;
        // }

        .shaysH1 {
            color: white;
        }
    }

}

.purple {
    color: mediumpurple
}

.title {
    // text-transform: uppercase;
}