html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --primary: #6E88BC;
  --secondary: #9FBEFA;
  --accent1: #E5C34A;
  --accent2: #FFE99A;
  --chart1: #14956E;
  --chart2: #A7E2D0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}